@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');
$max-width:1200px;
$thema-color :#111827;
$purple-color:#7F4ADE;
$pink-color:#DB2777;
$light-color:#f4f4f4;
$bg-color:#1F2937;
$secondary-purpl-color:#c084fc;